# minimum versions of package dependencies for installation
# these should match the minimum versions specified in pyproject.toml
# NOTE: it may be possible to relax these minimum requirements
pynwb>=3.1.0
hdmf>=4.1.0
ndx_ophys_devices>=0.3.1
